button {
  display: inline-block;
  color: $color-text;
  text-align: center;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $color-border;
  cursor: pointer;
  box-sizing: border-box;
}
