input {
  // background: transparent;
  background-color: $color-bg-alt;
  border: 1px solid $color-bg-alt;
}

textarea {
  background-color: $color-bg-alt;
  border: 1px solid $color-bg-alt;
}

select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $color-bg;
  border: 1px solid $color-border;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
