table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid $color-border;
  border-right: 0;
  border-left: 0;
  padding: 0.5em;
}

th {
  background-color: $color-bg-alt;
}
