@mixin image_animation {
    -webkit-box-shadow: 0 28px 16px -26px black;
    -moz-box-shadow: 0 28px 16px -26px black;
    box-shadow: 0 28px 16px -26px black;
    transition:all .6s ease-in-out;
    -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -ms-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
    &:hover {
            transform:scale(1.1);
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -ms-transform:scale(1.1);
            -o-transform:scale(1.1);

            -webkit-box-shadow: 0 58px 36px -56px black;
            -moz-box-shadow: 0 58px 36px -56px black;
            box-shadow: 0 58px 36px -56px black;

            transition:all .6s ease-in-out;
            -webkit-transition:all .6s ease-in-out;
            -moz-transition:all .6s ease-in-out;
            -ms-transition:all .6s ease-in-out;
            -o-transition:all .6s ease-in-out;
    }
}
