// Font
$font-family-sans-serif: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
$font-family-serif: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
// "Arvo", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
$font-size-base: 1.8rem;

// Color
$color-bg:   #ECEFF4; // page background color
$color-bg-alt: #E5E9F0; // element background color
$color-border: #D8DEE9;
$color-text:  #4C566A;
$color-primary: #88C0D0;

// size
$font-size: 16px;

// grid
$break-point: 768px;
