@mixin container {
  position: relative;
  padding: 1.5rem 2rem;
}

html {
  font-size: 62.5%; // So that root size becomes 10px
  font-family: $font-family-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

body {
  // $font-size-base must be a rem value
  font-size: $font-size-base;
  line-height: 1.618;
  max-width: 60em;
  margin: auto;
  color: $color-text;
  background-color: $color-bg;
  padding: 13px;
}

@media (max-width: 684px) {
  body {
      font-size: $font-size-base * 0.85;
  }
}

@media (max-width: 382px) {
  body {
      font-size: $font-size-base * 0.75;
  }
}
