article {
  padding: 20px;

  h1 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  h2, h3, h4, h5, h6 {
    margin: 0.4em 0 0.2em 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: 500;
    letter-spacing: -0.03em;
    border-bottom: 1px solid $color-border;
  }
}
