
  <p>You can use the mark tag to <mark>highlight</mark> text.</p>
  <p><del>This line of text is meant to be treated as deleted text.</del></p>
  <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
  <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
  <p><u>This line of text will render as underlined</u></p>
  <p><small>This line of text is meant to be treated as fine print.</small></p>
  <p><strong>This line rendered as bold text.</strong></p>
  <p><em>This line rendered as italicized text.</em></p>

  <p>苟利国家生死以，<mark>岂因祸福</mark>避趋之。</p>
  <p>敢同恶<del>鬼争高下</del>，不向霸王让寸分！</p>
  <p><s>垂死病中</s>惊坐起，谈笑风生又一年。</p>
  <p>钦点我不先开口，<ins>哪只记者</ins>敢作声？</p>
  <p>长风破浪会有时，问我<u>支持不支持</u>。</p>
  <p><small>一身去国</small>六千里，我就明确告诉你。</p>
  <p>渭川斜阳照墟落，哪个<strong>国家没去过</strong>。</p>
  <p>百壶且试开怀抱，<em>熟悉西方</em>那一套。</p>