// Override reboot.scss

html,
kbd,
samp,
body, 
button, 
input, 
select, 
textarea {
  font: 300 1em/1.8 $font-family-serif;
}

body {
  font-size: $font-size;
  color: $color-text;
  background-color: $color-bg;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
