// Font
$font-family-sans-serif: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
$font-family-serif: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
$font-size-base: 1.8rem;

// Color
$color-bg:     #ffffff;
$color-bg-alt: #f8f8f8;
$color-border: #dddddd;
$color-text:   #4a4a4a;
$color-primary:#2fa58d;

// size
$font-size: 16px;
