@mixin image_animation {
  box-shadow: 0 28px 16px -26px black;
  transition:all .6s ease-in-out;
  &:hover {
    transform:scale(1.1);
    box-shadow: 0 58px 36px -56px black;
    transition:all .6s ease-in-out;
  }
}
